
<div class="container-fluid p-4 d-flex flex-wrap text-center justify-content-center align-items-center">
  <% current_user.recipes.each do |recipe| %>
   <% cache recipe do %>
   
  <% if user_signed_in? %>
    <div class="card m-3" style="width: 16rem;">
      <% if recipe.file.attached? && recipe.file.image? %>
        <%= image_tag recipe.file, class: "card-img-top" %>
      <%else%>
      <img src="/images/food1.jpeg" class="card-img-top" alt="...">
      <%end%>
      <div class="card-body">
        <h5 class="card-title"><%=  recipe.name %></h5>
        <%= link_to "view details", recipe , class:"btn btn-primary btn-sm"%>
       
      </div>
    </div>
  <% end %>
  <% end %>

<% end %>



</div>


  

